<form>

    <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input type="firstName" class="form-control" id="firstNameInput">
    </div>

    <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="lastName" class="form-control" id="lastNameInput">
    </div>

    <div class="mb-3">
        <label for="age" class="form-label">Age</label>
        <input type="age" class="form-control" id="ageInputt">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>